*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
}

.body-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/img/bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 20%;
    width: 100%;
    background: #212121;
    position: absolute;;
    bottom: 0;
}

.box {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.box div{
    display: inline-block;
    vertical-align: top;
}

.prof-pic {
    width: 100px;
    height: 100px;
    background-image: url('/assets/img/profpic.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #616161;
    border-radius: 50%;
}

.info {
    width: 60%;
    height: 100px;
    margin-left: 10px;
}

.info span {
    display: block;
}

.name {
    color: #757575;
    font-size: 1.8em;
    letter-spacing: 5px;
    font-family: 'Baloo Chettan', cursive;
}

.title {
    color: #424242;
    font-family: 'Montserrat', sans-serif;
}
